body{
	width: 100%;
	height: auto;
	background: black;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: white;
	font-size: 18px;
	margin: 0 auto;
	padding: 0;
	z-index: -1;
	position: fixed;
}
h1 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
ul{
	height: auto;
	position: fixed;
	list-style: none;
	float: left;
	overflow: hidden;
}
li{
	font-weight: 100;

}
input{
	border-color: black;
	position: fixed;
	border-radius: 5px;
	height: auto;
	padding: 2px;
	border: 1px solid #CCC;
}
input[type="text"]{
	position: fixed;
	min-width: 250px;
	max-width: 350px;
	height: 25px;
}
input[type="submit"]{
	position: fixed;
	border:none;
	font-weight: 300;
	text-align: center;
	width: 100px;
	padding: 18px;
	background: url('submit.png') center;
}

span{
	width: 100%;
	height: 10px;
	position:relative;
	overflow: hidden;
	display: block;
}
.container{
	overflow: hidden;
}
.navbar{
	width: 300px;
	height: 100%;
	padding-top: 5%;
	background: #7A0000;
	left: -300px;
	position: fixed;
	float: left;
	transition: 0.2s;
	z-index: 0;
	overflow: hidden;
}
.nav-list{
	margin-left: -50px;
}
.nav-list li{
	width: 270px;
	z-index: 0;
	padding: 20px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.nav-list li:hover{
	box-shadow: 5px 5px 5px black;
}
.nav-open{
	left:0px;
}
.icon-menu{
	margin: 30px;
	position: fixed;
	width: 25px;
	height: auto;
	z-index: 1;
}
.upline{
	width: 25px;
	height: 2px;
	background: white;
	margin-bottom: 5px;
	left: 0px;
	transition: 0.2s;
}
.downline{
	width: 25px;
	height: 2px;
	background: white;
	left: 0px;
	transition: 0.2s;
}
.rotate{
	transform: rotate(45deg);
	margin-bottom: -2px;
}
.rev-rotate{
	transform: rotate(-45deg);
}
.add-activities{
	width: 78%;
	height: 100%;
	position: fixed;
	z-index: 0;
	margin-left: 300px;
}
.running{
	width: 100px;
	height: 100px;
	z-index: 0;
	margin: 50px 100px;
	position: relative;
	float: left;
	background: url("running-icon.png") no-repeat;
	background-size: contain;
	transition: 1s;
}
.running-hover{
	transform: rotateY(360deg);
	background-image: url('running-icon-hover.png');
	background-size: contain;
}

.gym{
	width: 100px;
	height: 100px;
	z-index: 0;
	margin: 50px 200px;
	position: relative;
	float: left;
	background: url("gym-icon.png") no-repeat;
	background-size: contain;
	transition: 1s;
}
.gym-hover{
	transform: rotateY(360deg);
	background-image: url('gym-icon-hover.png');
	background-size: contain;
}

.activities{
	width: 500px;
	float: left;
	margin: 20px 100px;
	padding: 20px;
	height: auto;
	border: 1px solid white;
	opacity: 0;
	position: relative;
}
.close{
	padding: 2px;
	float: right;
	margin: -10px auto;
}
.activities select{
    background: white;
	width: 55px;
	height: 45px;
	font-size: 30px;
	float: left;
	align-content: center;
	border-radius: 25px;
	text-align: center;
}
.activities input[type="submit"]{
	margin: 5px 200px;
}
.activities .close{
	border: 1px solid white;
	border-radius: 25px;
}
.activities .close:hover{
	background: #7A0000;
}
.activities select option{
	width: 50px;
	height: 50px;
}
.activities p{
	width: 5px;
	height: auto;
	float: left;
	margin: 30px 5px 5px;
}


